body {
  font-family: 'Helvetica Neue', sans-serif;
  margin: 0;
}
.flex {display: flex}
.col-flex {display: flex}
.v-center {align-items: center;}
.h-center {justify-content: center;}
h1 {
  font-size: 54px;
  margin: 0;
}
header {
  padding: 50px 0;
}
.text-right {text-align: right;}
.text-center {text-align: center;}
.padding {padding: 10px; box-sizing: border-box;}
button {
  padding: 18px 30px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  background: #34A1FC;
  color: #ffffff;
  margin-right: 10px;
  box-shadow: 5px 5px 0px black;
  transition: .2s;
  margin-bottom: 10px;
}
button:hover {
  background: #2576ba;
  cursor: pointer;
  box-shadow: 7px 7px 0px black;
  transition: .2s;
  transform: translateY(-2px);
}
#soundcloud {
  background: #FF5500;
}
#soundcloud:hover {
  background: #FF6100;
}
#twitter {
  background: #1DA1F2;
}
#twitter:hover {
  background: #1B95E0;
}
.max-width {
  max-width: 993px;
  margin: 0 auto;
	padding-left: 16px;
	padding-right: 16px;
  box-sizing: border-box;
}
p {
  font-size: 16px;
  line-height: 1.6em;
}
.dark {
  background: #D6DBEA;
  color: #394767;
  padding: 75px 0;
}
.about {
  padding: 50px 0;
}
.social-links {
  margin: 10px 0;
}
.social-links a {
  color: black;
}
.social-links a:hover {
  color: #888888;
}
.social-links a:not(:first-child) {
  margin-left: 10px;
}
.host {
  width: 100%;
  padding-top: 100%;
  background: red;
  box-sizing: border-box;
  /* border: 5px solid #D6DBEA; */
  /* box-shadow: 5px 5px 0 black; */
}
.host#brad {
  background: url('../img/brad.jpeg');
  background-size: cover;
  background-position: center;
  border-radius: 100%;
}
.host#evan {
  background: url('../img/evan.jpeg');
  background-size: cover;
  background-position: center;
  /* border-radius: 100%; */
}
/* COLUMNS */
.col-1 {
  width: calc(100% / 12);
  box-sizing: border-box;
}
.col-2 {
  width: calc(100% / 6);
  box-sizing: border-box;
}
.col-3 {
  width: calc(100% / 4);
  box-sizing: border-box;
}
.col-4 {
  width: calc(100% / 3);
  box-sizing: border-box;
}
.col-5 {
  width: calc(100% / (12/5));
  box-sizing: border-box;
}
.col-6 {
  width: calc(100% / (12/6));
  box-sizing: border-box;
}
.col-7 {
  width: calc(100% / (12/7));
  box-sizing: border-box;
}
.col-8 {
  width: calc(100% / (12/8));
  box-sizing: border-box;
}
.col-9 {
  width: calc(100% / (12/9));
  box-sizing: border-box;
}
.col-10 {
  width: calc(100% / (12/10));
  box-sizing: border-box;
}
.col-11 {
  width: calc(100% / (12/11));
  box-sizing: border-box;
}
.col-12 {
  width: calc(100% / (12/12));
  box-sizing: border-box;
}
input[type="text"],input[type="email"] {
  width: 100%;
  box-sizing: border-box;
  padding: 9px 12px;
  margin-bottom: 10px;
  border: none;
  font-size: 16px;
}
input[type="submit"] {
  width: 100%;
  padding: 18px 30px;
  background: #3C5FDA;
  color: #fff;
  border: none;
  /* background: #ffffff; */
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: .2s;
  border-radius: 0;
  box-shadow: 5px 5px 0px black;

}
input[type="submit"]:hover {
  transform: translateY(-2px);
  box-shadow: 10px 10px 0px black;
  transition: .2s;
}
textarea {
  width: 100%;
  resize: none;
  height: 150px;
  border: none;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding: 9px 12px;
  font-family: 'Helvetica Neue', sans-serif;
}
@media (max-width: 590px) {
  .col-9 {
    width: 100%;
  }
  .col-8 {
    width: 100%;
  }
  .col-flex {
    display: block;
  }
  .col-4 {
    width: 100%;
  }
  .col-3 {
    width: 100%;
  }
  h1 {
    font-size: 35px;
  }
}
@media (max-width: 435px) {
  h1 {
    font-size: 30px;
  }
  .mobile-hide {
    display: none;
  }
}
.episode {
  background: #fff;
  color: #333;
  padding: 20px;
  border: 2px solid black;
  border-radius: 4px;
  padding-bottom: 70px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
}
.episode h4 {
  margin: 0;
  font-size: 18px;
}
.episode h5 {
  margin: 0;
  font-weight: normal;
}
.episode p {
  font-size: 12px;
}
.episode-listen {
  padding: 18px 30px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  color: #ffffff;
  display: inline-block;
  background: #3C5FDA;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.episode-listen:hover {
  background: #4366e0;
}
