body {
  font-family: 'Raleway', sans-serif;
  background: #fff;
  overflow-x: hidden;
}
header {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  width: 100%;
  padding: 50px 0;
  color: #fff;
}
header h1 {
  font-size: 50px;
  padding-top: 150px;
  margin: 0;
}
header h2 {
  margin: 0;
}
header .icons {
  margin-top: 20px;
}
.icons i {
  margin-right: 30px;
}
header:after {
  background: url('../img/base.svg');
  width: 110%;
  height: 100px;
  /*background: red;*/
  position: absolute;
  left: 0;
  content: ' ';
}
